@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
.heading {
  font-size: 48px;
  font-weight: 600;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

::placeholder,
p {
  font-size: 16px;
  font-weight: normal;
}

input,
label {
  font-size: 16px;
  font-weight: 500;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.btn {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6b3838;
}
.btn:hover {
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}

.reset {
  padding: 12.5px 39px;
  border-radius: 7px;
  border: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232229;
  font-family: "Jost";
  padding: 26px;
}