@import "./_variables.scss";

.tasks_selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 35px;
  background-color: $secondary-color;
  color: $primary-font;
  position: fixed;
  bottom: 0;
  width: 100%;
}
