@import "./_variables.scss";

.tasks_selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 35px;
  background-color: $secondary-color;
  color: $primary-font;
}

@media screen and (min-width: 768px) {
  .tasks_selected {
    padding: 30px 131px;
  }
}

@media screen and (min-width: 1024px) {
  .tasks_selected {
    padding: 30px 365px;
  }
}
